body {
    background: rgb(66,111,120);
    background: radial-gradient(circle, rgba(66,111,120,1) 0%, rgba(2,0,36,1) 38%, rgba(6,76,125,1) 100%);
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 10%;
}

#carta-aleatoria {
    width: 80px;
    height: 150px;
    background-color: #b85b54;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid black;
    box-sizing: border-box;
}

#carta-aleatoria:hover {
    cursor: pointer;
}

.btn {
    width: 100%;
    height: 100%;
}

.cartas{
    width: 30vw;
    height: 25vh;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.ajude {
    width: 40vw;
    color: white;
    text-align: right;
}

#mesa-minima{
    display: block;
    min-height: 60vh;
    min-width: 100%;
    background-color: #0d3b1b;
    border-radius: 25px;
    border: 7px solid #29141f;
}

#leitura {
    min-height: 60vh;
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    background-color: #0d3b1b;
    border-radius: 25px;
    border: 7px solid #29141f;
}

.carta {
    color: white;
    font-weight: bold;
    padding: 20px 10px 0 10px;
    text-align: center;
}

.carta img{
    width: 100px;
    height: 200px;
}

.carta .texto{
    padding: 10px;
    text-align: left;
}

.titulo{
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-bottom: 15px;
}

@media screen and (max-width: 600px) {
    #leitura {
      display: flex !important;
      flex-direction: column;
      width: 100vw;
    }
    #mesa-minima {
        display: none !important;
    }
    .container {
        margin: 0;
        width: 100%;
    }
    .cartas {
        height: 20vh;
        width: 50vw;
    }
    #carta-aleatoria {
        height: 120px;
    }
    .ajude {
        width: 50vw;
        margin-right: 10px;
        font-size: 12px;
    }
  } 
